@model IEnumerable<CheckinPortal.BackOffice.DataAccess.tbRequestTypeMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{

    <link href="~/Assets/vendor/datatables/dataTables.bs4.css" rel="stylesheet" />
    <link href="~/Assets/vendor/datatables/dataTables.bs4-custom.css" rel="stylesheet" />
    <link href="~/Assets/vendor/datatables/buttons.bs.css" rel="stylesheet" />
}

<h2>Request Type List</h2>

<p>
    @Html.ActionLink("New Request Type", "Create",null,new {@class="btn btn-primary" })
</p>
<table id="fixedHeader" class="table custom-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestType)
                </td>
                <td class="right-align">

                    <div class="td-actions">
                        <a href="@Url.Action("Edit","RequestTypeMasters",new { id= item.RequestTypeMasterID })" class="icon red" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit Record">
                            <i class="icon-circle-with-plus"></i>
                        </a>
                        <a href="@Url.Action("Details","RequestTypeMasters",new { id= item.RequestTypeMasterID })" class="icon green" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Record">
                            <i class="icon-save"></i>
                        </a>
                        <a href="@Url.Action("Delete","RequestTypeMasters",new { id= item.RequestTypeMasterID })" class="icon blue" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete Record">
                            <i class="icon-cancel"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script src="~/Assets/vendor/datatables/dataTables.min.js"></script>
    <script src="~/Assets/vendor/datatables/dataTables.bootstrap.min.js"></script>

    @*<script src="~/Assets/vendor/datatables/custom/custom-datatables.js"></script>*@
    <script src="~/Assets/vendor/datatables/custom/fixedHeader.js"></script>


    <script>
        $(document).ready(function () {
            var table = $('#fixedHeader').DataTable({
                fixedHeader: true,
                'iDisplayLength': 10,
                "language": {
                    "lengthMenu": "Display _MENU_ Records Per Page",
                    "info": "Showing Page _PAGE_ of _PAGES_",
                }
            });
        });

    </script>
}