@model CheckinPortal.BackOffice.Models.SmartTap.OutletUser

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "OutletUserMaster", FormMethod.Post, new { @enctype = "multipart/form-data" ,@Id= "userform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User Master</h4>
        <hr />


        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Outlets, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.HiddenFor(Model => Model.Outlets);
            <div class="col-md-10">
                <select id="outlet" multiple="multiple" required name="outlet">
                    @if (ViewBag.outlets != null)
                    {
                        foreach (var item in ViewBag.Outlets)
                        {
                            if (item.OutletID != null)
                            {
                                <option value="@item.OutletID">
                                    @item.OutletName
                                </option>

                            }
                        }
                    }

                </select>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
               <input type="button"  id="btnsubs" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Assets/css/bootstrap-mutiselect.css" rel="stylesheet" />

    <script src="~/Assets/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript">

        $('#outlet').multiselect({
            includeSelectAllOption: true
        });
        $("#btnsubs").click(function () {
           
            var selectedval = $("#outlet").val();
            
            //var Test = new Array(5);

            //for (var i = 0; i < selectedval.length; i++) {
            //    Test.push({ OutletID: selectedval[i] });
            //}
            $("#Outlets").val(selectedval);

            $("#userform").submit();
        });


    </script>
}
