@model CheckinPortal.BackOffice.Models.SmartTap.GeneralPackages

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbPackageMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PackageCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackageCode)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.PackageDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackageDescription)
        </dd>




    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PackageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

