@model CheckinPortal.BackOffice.DataAccess.tbReservationDocumentTypeMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reservation Document Type Master</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocumentTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentTypeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReseDocTypeMasterID },new { @class="btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
